h1{
    color:cyan; 
    background-color: green;
} 
body{

    background-color:black; 
    background-image: url(sajib.png.jpg); 
    background-repeat: no-repeat;
}
p1{
    color:white;
}